[submodule "ui"]
	path = ui
	url = https://github.com/Prometheus-Team/User-Interface.git
[submodule "frame_reduction"]
	path = frame_reduction
	url = https://github.com/Prometheus-Team/Frame-Reduction-Module.git
[submodule "mapping"]
	path = mapping
	url = https://github.com/Prometheus-Team/mapping.git
